<header class="top-header">
    <nav class="navbar">
        <div class="btn-toggle-menu">
            <span class="material-symbols-rounded">menu</span>
        </div>
        <div class="search-bar position-relative">
            <input class="form-control form-control-sm rounded-5 px-5" disabled="" type="search" placeholder="Search">
            <span class="material-symbols-rounded position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
        </div>

        <ul class="navbar-nav top-right-menu d-flex flex-wrap gap-2">
            <li class="nav-item"><a href="" class="nav-link">
            <span class="material-symbols-rounded">settings</span>

            </a></li>
            <li class="nav-item"><a href="" class="nav-link">
            <span class="material-symbols-rounded">apps</span>
            </a></li>
            <li class="nav-item"><a href="" class="nav-link">
            <span class="material-symbols-rounded">logout</span>

            </a></li>
        </ul>
    </nav>

</header>