//light theme varibales setting

$light-primmary-color : #575fcf;
$light-secondary-color :#1B9CFC;
$light-background-color :#F5F5F5;
$light-border-color : #dee2e6;
$light-border-secondary : #dee2eb;
$light-scrool-box-shadow : inset 0 0 6px rgba(0, 0, 0, .3);
$light-text-color : #5f5f5f;
$light-icon-color : #212529;
$light-box-shadow : 0 0 0 0.25rem rgba($light-primmary-color,.25);
$light-font-family : 'Poppins', sans-serif;
$light-transition : all .3s ease-out;
$light-card-header-background : #F5F5F5;
$light-white-color : #ffffff;
$light-border-icon : #d8d8d8;
$light-card-title : #8B8589;
$light-text-danger : #e84118;
$light-text-sucess : #44bd32;
$light-border-invalid : #e84118;
$light-border-valid: #44bd32;
$light-box-shadow-valid : 0 0 0 0.25rem rgba($light-border-valid,.25);
$light-box-shadow-invalid : 0 0 0 0.25rem rgba($light-border-invalid,.25);
$light-box-shadow-secondary : rgba(0, 0, 0, 0.35) 0px 5px 15px;
