<section class="login-container mx-3 mx-lg-0">
    <div class="card mx-auto my-4 col-xl-9 p-3 border-3 overflow-hidden rounded-4">
        <div class="row g-3">
            <div class="col-lg-6 d-flex flex-wrap">
                <div class="card-body p-5 ">
                    <div class="logo-image mb-4 d-flex flex-wrap align-items-center">
                        <img src="../../../../assets/Images/favicon-new.svg" width="50px" alt="seasialogo">
                        <h3 class="mb-0 ms-2 fw-bold">SEASIA</h3>
                    </div>
                    <div class="login-text">
                        <h4 class="fw-bold">Forgot Password ?</h4>
                        <p>Enter Your registered email ID to reset the password</p>
                    </div>

                    <div class="form-body mt-4">
                        <form>
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-group-container">
                                        <div class="form-group p-0">
                                            <label for="inputEmailAddress" class="form-label">Email</label>
                                            <input type="email" name="email" id="email" placeholder="Enter Your Email" 
                                                class="form-control" formControlName="userEmail">
                                        </div>
                                        <!-- <div class="form-error text-danger"
                                            *ngIf="formControls['userEmail'].errors && (formControls['userEmail'].dirty || formControls['userEmail'].touched)">
                                            <span *ngIf="formControls['userEmail'].errors['required']">Email is
                                                required</span>
                                            <span *ngIf="formControls['userEmail'].errors['email']">Invalid Email
                                                Format</span>
                                        </div> -->
                                    </div>
                                </div>
                               

                                <div class="col-12 mt-4">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-outline-primary">Send</button>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-outline-primary" routerLink="/auth/login" >Back TO Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex d-none">
                <div class="p3 rounded-4 w-100 d-flex flex-wrap align-items-center jjustify-content-center border-3 bg-primary">
                    <img src="../../../../assets/Images/boxed-forgot-password.png" class="img-fluid" alt="loginback">
                </div>
            </div>
        </div>
    </div>
</section>