<section class="communication-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs d-flex flex-wrap" id="nav-tab" role="tablist">

                        <li>
                            <a class="w-100 nav-item nav-link" routerLink="companySetup" routerLinkActive="active"
                                style="flex: 1">
                                Company Setup
                            </a>
                        </li>


                        <!-- TAB1 -->

                        <!-- TAB2 -->
                        <li>
                            <a class="w-100 nav-item nav-link" routerLink="text-Messages" routerLinkActive="active"
                                style="flex: 1">
                               Seasia
                            </a>
                        </li>
                        <!-- TAB3 -->
                        <li>
                            <a class="w-100 nav-item nav-link" routerLink="serverSetting" routerLinkActive="active"
                                style="flex: 1">
                               Server Settings
                            </a>
                        </li>
                    </ul>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>