<section class="addnew-plan">
    <div class="add-pan-container">
        <div class="row">
            <div class="col-12">
                Add New Annoucement
            </div>
        </div>

        <div class="row my-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-container">
                            <form>

                                <div class="form-group-container d-flex flex-wrap gap-10">
                                    <div class="form-group my-2 flex-grow-1">
                                        <label for="title" class="py-2">Annoucement Title</label>
                                        <input type="text" class="form-control" id="title"
                                            aria-describedby="title" placeholder="Annoucement Title">
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap gap-10">
                                    <div class="form-group my-2 flex-grow-1">
                                        <label for="startdate" class="py-2">Annoucements Start Date</label>
                                        <input type="date" class="form-control" id="startdate"
                                            aria-describedby="startdate" placeholder="First Name">
                                    </div>

                                    <div class="form-group my-2 flex-grow-1 ">
                                        <label for="planname" class="py-2">Annoucements Start Time</label>
                                        <input type="time" class="form-control" id="lastName"
                                            aria-describedby="Last Name" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap gap-10">
                                    <div class="form-group my-2 flex-grow-1">
                                        <label for="startdate" class="py-2">Annoucements End Date</label>
                                        <input type="date" class="form-control" id="startdate"
                                            aria-describedby="startdate" placeholder="First Name">
                                    </div>

                                    <div class="form-group my-2 flex-grow-1 ">
                                        <label for="planname" class="py-2">Annoucements End Time</label>
                                        <input type="time" class="form-control" id="lastName"
                                            aria-describedby="Last Name" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap gap-10">
                                    <div class="form-group my-2 flex-grow-1">
                                        <label for="title" class="py-2">Description</label>
                                        <textarea class="form-control" id="Description" rows="3"></textarea>
                                    </div>
                                </div>

                                                                   

                                <div class="form-group my-4">
                                    <div class="button-container d-flex flex-wrap  justify-content-end align-items-center gap-10">
                                        <button type="button" class="btn btn-outline-primary" routerLink="/plans/addnew-plan">Add</button>

                                        <button type="button" class="btn btn-outline-primary" routerLink="/plans/addnew-plan">clear</button>
                                    </div>
                                </div>

                                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>