<section class="addnew-plan">
    <div class="add-pan-container">
        <div class="row">
            <div class="col-12">
                Add New Company/user
            </div>
        </div>

        <div class="row my-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-container">
                            <form>
                                <div class="form-group-container d-flex flex-wrap">
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group my-2">
                                            <label for="Email" class="py-2">Email</label>
                                            <input type="Email" class="form-control" id="email"
                                                aria-describedby="email" placeholder="Email" value="xyz@gmail.com" disabled>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group my-2">
                                            <label for="Email" class="py-2">Company Name</label>
                                            <input type="text" class="form-control" id="company"
                                                aria-describedby="company" placeholder="company" value="apsvendor" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap">
                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="firstname" class="py-2">First Name</label>
                                            <input type="text" class="form-control" id="firstname"
                                                aria-describedby="startdate" placeholder="First Name" disabled value="xyz">
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="lastname" class="py-2">Last Name</label>
                                            <input type="text" class="form-control" id="lastName"
                                                aria-describedby="lastName" placeholder="lastt Name"
                                                disabled value="xyz">
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2">
                                            <label for="Maiden Name" class="py-2">Maiden Name</label>
                                            <input type="text" class="form-control" id="maidenName"
                                                aria-describedby="Maiden Name" placeholder="Maiden Name"
                                                disabled value="xyz">
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2">
                                            <label for="nickName" class="py-2">Nick Name</label>
                                            <input type="text" class="form-control" id="nickName"
                                                aria-describedby="Nick Name" placeholder="Nick Name"
                                                disabled value="xyz">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap">
                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="city" class="py-2">City</label>
                                            <input type="text" class="form-control" id="city"
                                                aria-describedby="city" placeholder="city" disabled value="city">
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="state" class="py-2">State</label>
                                            <input type="text" class="form-control" id="state"
                                                aria-describedby="state" placeholder="state"
                                                disabled value="state">
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2  ">
                                            <label for="Country" class="py-2">Country</label>
                                            <select class="form-control" disabled value="xyz">
                                                <option> Select Country</option>

                                                <option></option>
                                                <option> 26 - 50</option>
                                                <option> 51 - 100</option>
                                                <option> 101 - 200</option>
                                                <option> 201 - 300</option>
                                                <option> 301 - 400</option>
                                                <option> 401 - 500</option>
                                                <option> 501 - 600</option>
                                                <option> 601 - 700</option>
                                                <option> 701 - 800</option>
                                                <option> 801 - 900</option>
                                                <option> 901 - 1000</option>
                                                <option> More than 1000 units</option>



                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2  ">
                                            <label for="zipCode" class="py-2">Zip Code</label>
                                            <input type="text" class="form-control" id="zipCode"
                                                aria-describedby="zip code" placeholder="Zip code" maxlength="5" disabled value="1234">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap align-items-center justify-content-between">
                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="city" class="py-2">Address 1</label>
                                            <input type="text" class="form-control" id="city"
                                                aria-describedby="city" placeholder="Address 1" disabled value="address">
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="state" class="py-2">Address 2</label>
                                            <input type="text" class="form-control" id="state"
                                                aria-describedby="state" placeholder="state" disabled value="address 2" >
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2  ">
                                            <label for="Country" class="py-2">Address 3</label>
                                            <input type="text" class="form-control" id="zipCode"
                                                aria-describedby="zip code" placeholder="Address 3" disabled value="address 3 ">
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2  ">
                                            <label for="zipCode" class="py-2">Address 4</label>
                                            <input type="text" class="form-control" id="zipCode"
                                                aria-describedby="zip code" placeholder="Address 4" disabled value="Address 4">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap">
                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="city" class="py-2">Default currency</label>
                                            <select class="form-control" disabled value="Address 4" >
                                                <option> Select default Currency</option>
                                                <option> 1 - 25</option>
                                                <option> 26 - 50</option>
                                                <option> 51 - 100</option>
                                                <option> 101 - 200</option>
                                                <option> 201 - 300</option>
                                                <option> 301 - 400</option>
                                                <option> 401 - 500</option>
                                                <option> 501 - 600</option>
                                                <option> 601 - 700</option>
                                                <option> 701 - 800</option>
                                                <option> 801 - 900</option>
                                                <option> 901 - 1000</option>
                                                <option> More than 1000 units</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="state" class="py-2">Subscription Plan</label>
                                            <select class="form-control" disabled value="Address 4">
                                                <option> Select subscription plan</option>
                                                <option> 1 - 25</option>
                                                <option> 26 - 50</option>
                                                <option> 51 - 100</option>
                                                <option> 101 - 200</option>
                                                <option> 201 - 300</option>
                                                <option> 301 - 400</option>
                                                <option> 401 - 500</option>
                                                <option> 501 - 600</option>
                                                <option> 601 - 700</option>
                                                <option> 701 - 800</option>
                                                <option> 801 - 900</option>
                                                <option> 901 - 1000</option>
                                                <option> More than 1000 units</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2  ">
                                            <label for="Country" class="py-2">Plan term</label>
                                            <select class="form-control" disabled value="Address 4">
                                                <option> Plan term</option>
                                                <option> 1 - 25</option>
                                                <option> 26 - 50</option>
                                                <option> 51 - 100</option>
                                                <option> 101 - 200</option>
                                                <option> 201 - 300</option>
                                                <option> 301 - 400</option>
                                                <option> 401 - 500</option>
                                                <option> 501 - 600</option>
                                                <option> 601 - 700</option>
                                                <option> 701 - 800</option>
                                                <option> 801 - 900</option>
                                                <option> 901 - 1000</option>
                                                <option> More than 1000 units</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2">
                                            <label for="zipCode" class="py-2">Plan price</label>
                                            <input type="text" class="form-control" id="zipCode"
                                                aria-describedby="zip code" placeholder="" maxlength="5" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap align-items-center justify-content-between">
                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="city" class="py-2">Discount</label>
                                            <input type="text" class="form-control" id="city"
                                                aria-describedby="city" placeholder="Discount" disabled value="Disscount">
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="state" class="py-2">Pay Plan price</label>
                                            <input type="text" class="form-control" id="state"
                                                aria-describedby="state" placeholder="" disabled>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2  ">
                                            <label for="Country" class="py-2">Domain Name</label>
                                            <input type="text" class="form-control" id="zipCode"
                                                aria-describedby="zip code" placeholder="Domain Name"  disabled value="domain Name">
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <label for="zipCode" class="py-2">Account type</label>
                                        <div class="form-group my-2">
                                            <input type="radio" name="paymentType" class="form-check-input"
                                                id="accountType" value="cash" class="mx-2">
                                            <label class="form-check-label" for="paymentType">
                                                Cash
                                            </label>
                                            <input type="radio" name="paymentType" class="form-check-input"
                                                id="accountType" value="accrual" class="mx-2">
                                            <label class="form-check-label" for="paymentType">
                                                accrual
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group-container d-flex flex-wrap align-items-center justify-content-between">
                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="phone" class="py-2">Phone</label>
                                            <input type="number" class="form-control" id="phone"
                                                aria-describedby="city" placeholder="phone" maxlength="10"
                                                disabled value="phone">
                                        </div>
                                    </div>


                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="state" class="py-2">Fax Number</label>
                                            <input type="text" class="form-control" id="state"
                                                aria-describedby="state" placeholder="" disabled>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2  ">
                                            <label for="Country" class="py-2">Tax Option</label>
                                            <select class="form-control" disabled >
                                                <option> Select Country</option>
                                                <option> 1 - 25</option>
                                                <option> 26 - 50</option>
                                                <option> 51 - 100</option>
                                                <option> 101 - 200</option>
                                                <option> 201 - 300</option>
                                                <option> 301 - 400</option>
                                                <option> 401 - 500</option>
                                                <option> 501 - 600</option>
                                                <option> 601 - 700</option>
                                                <option> 701 - 800</option>
                                                <option> 801 - 900</option>
                                                <option> 901 - 1000</option>
                                                <option> More than 1000 units</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-3 col-md-6 col-sm-12 ">
                                        <div class="form-group my-2 ">
                                            <label for="state" class="py-2">Tax Value</label>
                                            <input type="text" class="form-control" id="state"
                                                aria-describedby="state" placeholder="Tax Value" disabled value="tax value">
                                        </div>
                                    </div>
                                   
                                </div>


                                <div class="form-group-container d-flex flex-wrap ">
                                    <div class="col-12">
                                        <div class="form-group my-2 ">
                                            <label for="notes" class="py-2">Notes</label>
                                            <textarea class="form-control" id="notes" rows="3" disabled></textarea>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group my-4">
                                    <div
                                        class="button-container d-flex flex-wrap  justify-content-end align-items-center gap-10">
                                        <button type="button" class="btn btn-outline-primary"
                                            routerLink="/plans/addnew-plan">Edit</button>

                                        <button type="button" class="btn btn-outline-primary"
                                            routerLink="/plans/addnew-plan">clear</button>
                                    </div>
                                </div>

                                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>