<div class="card-container">
    <div class="row g-">
        <div class="col-12">
            <div class="card tab-page my-4">
                <div class="card-header py-4 d-flex flex-wrap align-items-center justify-content-between">
                    <span> Database Settings</span>
                </div>
                <div class="card-body">
                    <div class="form-container">
                        <form>
                            <div class="form-group-container d-flex flex-wrap">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="Companyname" class="py-2">Change Database</label>
                                        <select class="form-control">
                                            <option> Select</option>
                                            <option>MySql server 01</option>
                                            <option>MySql server 02</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group my-4">
                                <div class="button-container d-flex flex-wrap  justify-content-end align-items-center gap-10">
                                    <button type="button" class="btn btn-outline-primary"
                                        routerLink="/plans/addnew-plan">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="card tab-page my-4">
                <div class="card-header  py-4 d-flex flex-wrap align-items-center justify-content-between">
                    <span>Server Space</span>
                </div>
                <div class="card-body my-2">
                    <div class="form-container">

                      <div class="row g-2">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body box-shadow">
                                    <p> MySql Server 01</p>
                                    <p>Total space : 3.72 Gb</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body box-shadow">
                                    <p> MySql Server 02</p>
                                    <p>Total space : 3.72 Gb</p>
                                   
                                </div>
                            </div>
                        </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>